/* ===================== 
Start: RESET      
======================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* =====================
End:  RESET
======================== */
/* ===================== 
Start: GRID SYSTEM      
======================== */
/* ===================== 
Start: COLUMNS      
======================== */
.vcol-xs-1 {
  width: 8.33333%;
}

.vcol-xs-2 {
  width: 16.66667%;
}

.vcol-xs-3 {
  width: 25%;
}

.vcol-xs-4 {
  width: 33.33333%;
}

.vcol-xs-5 {
  width: 41.66667%;
}

.vcol-xs-6 {
  width: 50%;
}

.vcol-xs-7 {
  width: 58.33333%;
}

.vcol-xs-8 {
  width: 66.66667%;
}

.vcol-xs-9 {
  width: 75%;
}

.vcol-xs-10 {
  width: 83.33333%;
}

.vcol-xs-11 {
  width: 91.66667%;
}

.vcol-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .vcol-sm-1 {
    width: 8.33333%;
  }

  .vcol-sm-push-1 {
    left: 8.33333%;
  }

  .vcol-sm-pull-1 {
    right: 8.33333%;
  }

  .vcol-sm-2 {
    width: 16.66667%;
  }

  .vcol-sm-push-2 {
    left: 16.66667%;
  }

  .vcol-sm-pull-2 {
    right: 16.66667%;
  }

  .vcol-sm-3 {
    width: 25%;
  }

  .vcol-sm-push-3 {
    left: 25%;
  }

  .vcol-sm-pull-3 {
    right: 25%;
  }

  .vcol-sm-4 {
    width: 33.33333%;
  }

  .vcol-sm-push-4 {
    left: 33.33333%;
  }

  .vcol-sm-pull-4 {
    right: 33.33333%;
  }

  .vcol-sm-5 {
    width: 41.66667%;
  }

  .vcol-sm-push-5 {
    left: 41.66667%;
  }

  .vcol-sm-pull-5 {
    right: 41.66667%;
  }

  .vcol-sm-6 {
    width: 50%;
  }

  .vcol-sm-push-6 {
    left: 50%;
  }

  .vcol-sm-pull-6 {
    right: 50%;
  }

  .vcol-sm-7 {
    width: 58.33333%;
  }

  .vcol-sm-push-7 {
    left: 58.33333%;
  }

  .vcol-sm-pull-7 {
    right: 58.33333%;
  }

  .vcol-sm-8 {
    width: 66.66667%;
  }

  .vcol-sm-push-8 {
    left: 66.66667%;
  }

  .vcol-sm-pull-8 {
    right: 66.66667%;
  }

  .vcol-sm-9 {
    width: 75%;
  }

  .vcol-sm-push-9 {
    left: 75%;
  }

  .vcol-sm-pull-9 {
    right: 75%;
  }

  .vcol-sm-10 {
    width: 83.33333%;
  }

  .vcol-sm-push-10 {
    left: 83.33333%;
  }

  .vcol-sm-pull-10 {
    right: 83.33333%;
  }

  .vcol-sm-11 {
    width: 91.66667%;
  }

  .vcol-sm-push-11 {
    left: 91.66667%;
  }

  .vcol-sm-pull-11 {
    right: 91.66667%;
  }

  .vcol-sm-12 {
    width: 100%;
  }

  .vcol-sm-push-12 {
    left: 100%;
  }

  .vcol-sm-pull-12 {
    right: 100%;
  }
}
@media (min-width: 1024px) {
  .vcol-md-1 {
    width: 8.33333%;
  }

  .vcol-md-push-1 {
    left: 8.33333%;
  }

  .vcol-md-pull-1 {
    right: 8.33333%;
  }

  .vcol-md-2 {
    width: 16.66667%;
  }

  .vcol-md-push-2 {
    left: 16.66667%;
  }

  .vcol-md-pull-2 {
    right: 16.66667%;
  }

  .vcol-md-3 {
    width: 25%;
  }

  .vcol-md-push-3 {
    left: 25%;
  }

  .vcol-md-pull-3 {
    right: 25%;
  }

  .vcol-md-4 {
    width: 33.33333%;
  }

  .vcol-md-push-4 {
    left: 33.33333%;
  }

  .vcol-md-pull-4 {
    right: 33.33333%;
  }

  .vcol-md-5 {
    width: 41.66667%;
  }

  .vcol-md-push-5 {
    left: 41.66667%;
  }

  .vcol-md-pull-5 {
    right: 41.66667%;
  }

  .vcol-md-6 {
    width: 50%;
  }

  .vcol-md-push-6 {
    left: 50%;
  }

  .vcol-md-pull-6 {
    right: 50%;
  }

  .vcol-md-7 {
    width: 58.33333%;
  }

  .vcol-md-push-7 {
    left: 58.33333%;
  }

  .vcol-md-pull-7 {
    right: 58.33333%;
  }

  .vcol-md-8 {
    width: 66.66667%;
  }

  .vcol-md-push-8 {
    left: 66.66667%;
  }

  .vcol-md-pull-8 {
    right: 66.66667%;
  }

  .vcol-md-9 {
    width: 75%;
  }

  .vcol-md-push-9 {
    left: 75%;
  }

  .vcol-md-pull-9 {
    right: 75%;
  }

  .vcol-md-10 {
    width: 83.33333%;
  }

  .vcol-md-push-10 {
    left: 83.33333%;
  }

  .vcol-md-pull-10 {
    right: 83.33333%;
  }

  .vcol-md-11 {
    width: 91.66667%;
  }

  .vcol-md-push-11 {
    left: 91.66667%;
  }

  .vcol-md-pull-11 {
    right: 91.66667%;
  }

  .vcol-md-12 {
    width: 100%;
  }

  .vcol-md-push-12 {
    left: 100%;
  }

  .vcol-md-pull-12 {
    right: 100%;
  }
}
@media (min-width: 1200px) {
  .vcol-lg-1 {
    width: 8.33333%;
  }

  .vcol-lg-2 {
    width: 16.66667%;
  }

  .vcol-lg-3 {
    width: 25%;
  }

  .vcol-lg-4 {
    width: 33.33333%;
  }

  .vcol-lg-5 {
    width: 41.66667%;
  }

  .vcol-lg-6 {
    width: 50%;
  }

  .vcol-lg-7 {
    width: 58.33333%;
  }

  .vcol-lg-8 {
    width: 66.66667%;
  }

  .vcol-lg-9 {
    width: 75%;
  }

  .vcol-lg-10 {
    width: 83.33333%;
  }

  .vcol-lg-11 {
    width: 91.66667%;
  }

  .vcol-lg-12 {
    width: 100%;
  }
}
/* =====================
End:  COLUMNS
======================== */
/* ===================== 
Start: HIDDEN AND VISIBLE UTILITIES      
======================== */
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
/* =====================
End:  HIDDEN AND VISIBLE UTILITIES
======================== */
[class*="col-"], .vcontainer, .vcontainer-small, .cf, .row, .vsection, .header, .footer, .btn, .form-header, .form-header-bigp, .form-header-smallp {
  position: relative;
}

[class*="col-"], .vcontainer, .vcontainer-small {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.center-block, .vcontainer, .vcontainer-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cf:after, .row:after, .vcontainer:after, .vcontainer-small:after, .vsection:after, .header:after, .footer:after, .cf:before, .row:before, .vcontainer:before, .vcontainer-small:before, .vsection:before, .header:before, .footer:before {
  content: "";
  display: table;
}
.cf:after, .row:after, .vcontainer:after, .vcontainer-small:after, .vsection:after, .header:after, .footer:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row-margin {
  margin-top: 50px;
}
@media (min-width: 1024px) {
  .row-margin {
    margin-top: 125px;
  }
  .row-margin-big {
    margin-top: 150px;
    margin-bottom: 130px;
  }
}

[class*="col-"] {
  float: left;
}

@media (min-width: 1200px) {
  .vcontainer {
    width: 1170px;
  }
}
@media (min-width: 1200px) {
  .vcontainer-small {
    width: 1050px;
  }
}

@media (min-width: 1024px) {
  .vsection {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 1023px) {
  .vsection {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .pull-lg-right {
    float: right;
  }
}
@media (max-width: 1199px) {
  .max-lg-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 1024px) {
  .pull-md-right {
    float: right;
  }
}
@media (max-width: 1023px) {
  .max-md-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .pull-sm-right {
    float: right;
  }
}
@media (max-width: 767px) {
  .max-sm-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 480px) {
  .pull-xs-right {
    float: right;
  }
}
@media (max-width: 479px) {
  .max-xs-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 320px) {
  .pull-exs-right {
    float: right;
  }
}
@media (max-width: 319px) {
  .max-exs-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
/* =====================
End:  GRID SYSTEM
======================== */
/* ===================== 
Start: COLOR AND SIZE      
======================== */
/* COLOR */
.black, .form-body-title {
  color: #000;
}

.grey {
  color: #f2f0ee;
}

.dark-grey, .form-main input {
  color: #808080;
}

.white, .footer {
  color: #fff;
}

.green {
  color: #5bb85d;
}

.corporative {
  color: #ff8001;
}

.blue {
  color: #2698a3;
}

.blue-light {
  color: #32a3db;
}

.orange {
  color: #ee7139;
}

.dark-orange {
  color: #d46331;
}

/*SIZE*/
.text_smaller {
  font-size: 12px;
}

.text_small, .form-main input {
  font-size: 16px;
}

.text_default {
  font-size: 18px;
}

.text_big {
  font-size: 21px;
}

.text_title {
  font-size: 24px;
}

.small_title {
  font-size: 30px;
}

.default_title {
  font-size: 36px;
}

.normal_title {
  font-size: 40px;
}

.big_title {
  font-size: 80px;
}

/* =====================
End:  COLOR AND SIZE
======================== */
/* ===================== 
Start: TEXT      
======================== */
.ttu {
  text-transform: uppercase;
}

.tdu {
  text-decoration: underline;
}

.h1 {
  line-height: 1.1;
  margin: 25px 0 0;
}
.h2 {
  margin-top: 25px;
  font-weight: inherit;
}
.h4 {
  color: #272727;
}
.h4.s-m {
  margin-bottom: 25px;
}
.h4.b-m {
  margin-bottom: 40px;
}
.h3 {
  text-align: left;
  line-height: 1.1;
}

@media (min-width: 768px) {
  .h1 {
    font-size: 30px;
  }

  .h2 {
    font-size: 20px;
  }

  .h3 {
    margin-bottom: 30px;
    font-size: 36px;
  }
  .h3.s-m {
    margin-bottom: 50px;
  }
  .h3.b-m {
    margin-bottom: 40px;
  }

  .h4 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .h1 {
    font-size: 40px;
  }

  .h2 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .h1 {
    font-size: 24px;
  }
  .h2 {
    font-size: 18px;
  }
  .h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 479px) {
  .h1 {
    font-size: 21px;
  }
  .h3 {
    font-size: 25px;
    text-align: center;
  }
}
.text-center, .form, .form-main input {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

@media (max-width: 1199px) {
  .max-lg-center {
    text-align: center;
  }
}
@media (max-width: 1023px) {
  .max-md-center {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .max-sm-center {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .max-xs-center {
    text-align: center;
  }
}
@media (max-width: 319px) {
  .max-exs-center {
    text-align: center;
  }
}
/* =====================
End:  TEXT
======================== */
/* ===================== 
Start: Connect fonts      
======================== */
.regular, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.bold, .btn, .form-header-middle-title, .time-block-text {
  font-weight: 700;
}

/* =====================
End:  Connect fonts
======================== */
/* ===================== 
Start: MAIN STYLES      
======================== */
body {
  color: #000;
  font-size: 18px;
  line-height: 1.42857143;
}

.block-inline, img, .btn {
  display: inline-block;
}

img {
  max-width: 100%;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

a, button {
  cursor: pointer;
}

/* =====================
End:  MAIN STYLES
======================== */
/* ===================== 
Start: DIFFERENT BLOCKS      
======================== */
/* ===================== 
Start: HEADER      
======================== */
.header {
  padding: 25px 0 100px;
  min-height: 50px;
  z-index: 1;
  background: url("../img/section.jpg") 0 0 no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .header {
    padding-bottom: 150px;
  }
}
.header-container-text {
  color: #fff;
}
@media (min-width: 768px) {
  .header-container-text {
    margin-top: 55px;
  }
}
.header-place {
  margin-top: 50px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header-place {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .header-place .chpi, .header-place .time-block {
    text-align: center;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  .header-place .chpi, .header-place .time-block {
    width: 49%;
    min-height: 200px;
  }
  .header-place .chpi-img {
    height: 70px;
  }
}

@media (max-width: 479px) {
  .header-place .chpi, .header-place .time-block {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* =====================
End:  HEADER
======================== */
/* ===================== 
Start: START FOOTER      
======================== */
.footer {
  padding: 150px 0;
  background: url("../img/section.jpg") 0 0 no-repeat;
  background-size: cover;
}
@media (min-width: 1024px) {
  .footer-text {
    margin-top: 80px;
  }
}
.footer-b {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
}
.footer a {
  text-decoration: none;
}
.footer .amount-text {
  font-size: 20px;
}

/* =====================
End:  START FOOTER
======================== */
.tr-def, .btn, .btn-effect:before, .btn-orange:after, .form-main input {
  transition: all ease .3s;
}

.btn {
  border: none;
  border-radius: 0;
  max-width: 100%;
  padding: 25px 20px;
  overflow: hidden;
  text-decoration: none;
  z-index: 2;
  font-size: 16px;
  color: #fff;
}
.btn-effect:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-effect:hover:before {
  height: calc(450% - 40px);
  opacity: 1;
}
.btn-orange {
  background-color: #ee7139;
}
.btn-orange:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  z-index: -1;
  background-color: #d46331;
}
.btn-orange:hover:after {
  height: 100%;
}
@media (min-width: 768px) {
  .btn-single {
    margin-top: 70px;
  }
}
@media (max-width: 767px) {
  .btn-single {
    margin-top: 35px;
  }
}

.list li {
  position: relative;
}
.list li:after {
  content: "";
  position: absolute;
  top: 0;
}
@media (min-width: 768px) {
  .list li {
    margin-bottom: 15px;
  }
  .list li:after {
    left: 0;
  }
}
@media (max-width: 767px) {
  .list li {
    text-align: center;
    margin-bottom: 10px;
  }
  .list li:after {
    left: 50%;
  }
}
@media (min-width: 768px) {
  .list-black li {
    margin-bottom: 7.5px;
    padding-left: 30px;
    padding-right: 15px;
  }
  .list-black li:after {
    top: 50%;
    margin-top: -7.5px;
  }
}
@media (max-width: 767px) {
  .list-black li {
    padding-top: 15px;
  }
  .list-black li:after {
    margin-left: -7.5px;
  }
}
.list-black li:after {
  width: 15px;
  height: 15px;
  background-color: #121212;
  border-radius: 100%;
}

.vertical-image:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.vertical-image img {
  max-height: 100%;
  vertical-align: middle;
}

.bg, .bg-blue, .bg-orange {
  display: inline-block;
  padding: 2px 1px;
}
.bg-blue {
  background-color: #2698a3;
}
.bg-orange {
  background-color: #ee7139;
}

@media (min-width: 480px) {
  .form {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}
.form-header, .form-header-bigp, .form-header-smallp {
  background-color: #2698a3;
}
.form-header:after, .form-header-bigp:after, .form-header-smallp:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -20px;
  border: 20px solid transparent;
  border-top: 20px solid #2698a3;
}
.form-header-bigp {
  padding: 25px;
}
.form-header-smallp {
  padding: 15px;
}
.form-header-middle-title {
  font-size: 16px;
  line-height: 1.2;
}
@media (min-width: 480px) {
  .form-header-middle-title {
    font-size: 24px;
  }
}
.form-body {
  background-color: #f2f0ee;
  padding: 25px 0;
}
@media (min-width: 480px) {
  .form-body {
    padding: 25px 30px;
  }
}
.form-body-title {
  margin-bottom: 25px;
}
.form-main input,
.form-main button {
  width: 100%;
  max-width: 100%;
  outline: none;
}
.form-main input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e9e7e5;
  padding: 12px;
  margin-bottom: 35px;
  font-style: italic;
}
.form-main input::-webkit-input-placeholder {
  color: #808080;
}
.form-main input:-moz-placeholder {
  color: #808080;
}
.form-main input::-moz-placeholder {
  color: #808080;
}
.form-main input:-ms-input-placeholder {
  color: #808080;
}
.form-main input:focus {
  border-bottom-color: #ee7139;
}

.arrow, .arrow-look-top, .arrow-look-bottom {
  border: 50px solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}
.arrow-look-top {
  border-bottom: 50px solid #fff;
  bottom: 0;
}
.arrow-look-bottom {
  border-top: 50px solid #fff;
  top: 0;
}

.chpi, .time-block {
  display: inline-block;
  vertical-align: middle;
}
.chpi-img {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .chpi-img {
    float: left;
  }
  .chpi-text {
    overflow: hidden;
  }
}
.chpi p, .time-block p {
  line-height: 1;
}

.time-block-text .big {
  font-size: 30px;
}
.time-block-text .small {
  font-size: 20px;
}
@media (min-width: 768px) {
  .time-block {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .amount-img {
    margin-top: 10px;
  }
}

@media (max-width: 1023px) {
  .facebook {
    max-height: 300px;
  }
}
.facebook-big {
  position: absolute;
  left: 0;
  top: -200px;
}

.text-block p, .text-block ul {
  margin-bottom: 7.5px;
}
@media (min-width: 768px) {
  .text-block p, .text-block ul {
    margin-bottom: 25px;
  }
}
.text-block p:last-child {
  margin-bottom: 0;
}

@media (max-width: 1023px) {
  .img-def {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .key-spiker {
    position: absolute;
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .key-spiker {
    top: 40px;
    padding: 0 15px;
  }
}

@media (min-width: 1024px) {
  .key-spiker {
    top: -100px;
  }
}

/* =====================
End:  DIFFERENT BLOCKS
======================== */
