/* ===================== 
Start: START FOOTER      
======================== */
.footer{
	@extend .cf;
	padding: 150px 0;
	@include bg('../img/section.jpg', 0 0, no-repeat,cover);
	@extend .white;
	@include resp-min(md){
		&-text{
			margin-top: 80px;
		}
	}
	&-b{
		display: inline-block;
		vertical-align: middle;
		margin: 0 15px;
	}
	a{
		text-decoration: none;
		
	}
	.amount{
		&-text{
			font-size: 20px;
		}
	}
}
/* =====================
End:  START FOOTER
======================== */