/* ===================== 
Start: HEADER      
======================== */
.header {
	@extend .cf;
	padding: 25px 0 100px;
	min-height: 50px;
	z-index: 1;
	@include bg('../img/section.jpg', 0 0, no-repeat,cover);
	@include resp-min(sm){
		padding-bottom: 150px;
	}
	&-container-text{
		@include resp-min(sm){
			margin-top: 55px;
		}
		@include color("white");
	}
	&-place{
		margin-top: 50px;
		@include resp-min(sm){
			@include resp-max(md){
				margin-bottom: 50px;
			}
		}
		.chpi{
			@include resp-max(sm){
				text-align: center;
				@include resp-min(xs){
					width: 49%;
					min-height: 200px;
					&-img{
						height: 70px;
					}
				}
			}
			@include resp-max(xs){
				width: 100%;
				margin-bottom: 30px;
			}
		}	
	}
}
/* =====================
End:  HEADER
======================== */